# .env

# Ollama
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_PORT=11434

# Chainlit
CHAINLIT_CHAT_MODEL=qwen2.5:0.5b-instruct
CHAINLIT_CHAT_COMPLETION_URL=http://ollama:11434/v1/chat/completions
CHAINLIT_PORT=8000
