apiVersion: v1
kind: ConfigMap
metadata:
  name: agent-db-tbot-init-config
  namespace: ai-agents
data:
  tbot.yaml: |
    version: v2
    proxy_server: "${TELEPORT_PROXY}:443"
    onboarding:
      token: "agent-db-bot-k8s-join"
      join_method: kubernetes
    storage:
      type: directory
      path: /opt/machine-id/storage
    services:
      - type: identity
        destination:
          type: directory
          path: /opt/machine-id/identity
